<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<Configuration status="off" monitorInterval="10">

	<properties>
		<property name="FILE_NAME">im-auth</property>
		<property name="LOG_HOME">${sys:user.dir}/logs</property> <!-- 设置日志输出目录为 /logs -->
	</properties>

	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %level [%thread][%file:%M:%line] [%X{trace_id}] - %msg%n" />
			<ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY" />
		</Console>
		<RollingRandomAccessFile name="File"
								 fileName="${LOG_HOME}/${FILE_NAME}.log"
								 filePattern="${LOG_HOME}/$${date:yyyy-MM}/${FILE_NAME}-%d{yyyy-MM-dd}-%i.log">
			<PatternLayout pattern="%date{yyyy-MM-dd HH:mm:ss.SSS} %level [%thread][%file:%M:%line] [%X{trace_id}] - %msg%n" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="200MB" />
			</Policies>

			<DefaultRolloverStrategy max="40" />
			<ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY" />
		</RollingRandomAccessFile>

	</Appenders>

	<Loggers>
		<Root level="info">
			<AppenderRef ref="Console" />
			<AppenderRef ref="File" />
		</Root>
		<logger level="info" name="jdbc.sqlonly" additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="File" />
		</logger>

		<logger level="OFF" name="jdbc.sqltiming" additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="File" />
		</logger>

		<logger level="OFF" name="jdbc.companyAudit" additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="File" />
		</logger>

		<logger level="OFF" name="jdbc.resultset" additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="File" />
		</logger>

		<logger level="OFF" name="jdbc.connection" additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="File" />
		</logger>

		<logger level="OFF" name="jdbc.audit" additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="File" />
		</logger>

		<logger level="OFF" name="serviceStatsLog" additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="File" />
		</logger>
	</Loggers>
</Configuration>
