<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<Configuration status="off" monitorInterval="10">

	<properties>
		<property name="FILE_NAME">im-business</property>
		<!--输出大项目更目录中的logs文件夹下-->
		<property name="LOG_HOME">${sys:user.dir}/logs</property> <!-- 设置日志输出目录为 /logs -->
	</properties>

	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] [%traceId] [%logger{50}.%M:%L] - %msg%n" />
<!--			<ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY" />-->
		</Console>


		<RollingRandomAccessFile name="File"
								 fileName="${LOG_HOME}/${FILE_NAME}.log"
								 filePattern="${LOG_HOME}/$${date:yyyy-MM}/${FILE_NAME}-%d{yyyy-MM-dd}-%i.log">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] [%traceId] [%logger{50}.%M:%L] - %msg%n" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<!--当日志文件大于200mb时  滚动更新-->
				<SizeBasedTriggeringPolicy size="200MB" />
			</Policies>

			<DefaultRolloverStrategy max="40" />
<!--			<ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY" />-->
		</RollingRandomAccessFile>

		<!--使用grpc来将日志上报给sw-->
		<GRPCLogClientAppender name="SkyWalking">
			<!--上报的日志样式-->
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] [%traceId] [%logger{50}.%M:%L] - %msg%n" />
		</GRPCLogClientAppender>

	</Appenders>

	<Loggers>
		<Root level="${sys:logging.level.root:-INFO}">
			<AppenderRef ref="Console" />
			<AppenderRef ref="File" />
			<!-- 将日志发送到 SkyWalking -->
			<AppenderRef ref="SkyWalking" />
		</Root>

		<logger level="info" name="jdbc.sqlonly" additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="File" />
		</logger>

		<logger level="OFF" name="jdbc.sqltiming" additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="File" />
		</logger>

		<logger level="OFF" name="jdbc.companyAudit" additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="File" />
		</logger>

		<logger level="OFF" name="jdbc.resultset" additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="File" />
		</logger>

		<logger level="OFF" name="jdbc.connection" additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="File" />
		</logger>

		<logger level="OFF" name="jdbc.audit" additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="File" />
		</logger>

		<logger level="OFF" name="serviceStatsLog" additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="File" />
		</logger>
	</Loggers>

</Configuration>
